<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Faster Travel Point Entry</title>
    </head>
    <body>
        <p>
            <b>Halt traveler!</b><br />
            You are about to enter a fast travel point to ${url}!<br />
            Are you sure you want to proceed?<br />
            Here is a preview of the place you are about to visit from when this
            portal was powered up:
        </p>

        <iframe src="/preview?short=${short}"></iframe>

        <p>
            Proceed with caution, it's a dangerous world out there!<br />
            <a href="$url">Enter</a>
        </p>
    </body>
</html>
